<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>content</title>
    <base target="_blank">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- header/banner -->
    <header>
        <div class="container">
            <!-- logo -->
            <a class="logo" href="index.html">
                <img src="../images/logo.png">
            </a>
        </div>
    </header>

    <!-- navigator -->
    <nav>
        <div class="container">
            <div class="nav-bar">
                <button id="nav-bar-btn">
                </button>
            </div>
            <ul id="nav-item">
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">课程概况</a>
                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学团队</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学资源</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">教学设备</a>
                        </li>
                        <li class="nav-items">
                            <a href="">教学录像</a>
                        </li>
                        <li class="nav-items">
                            <a href="">电子录像</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">学习资料</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">实验习题</a>
                        </li>
                        <li class="nav-items">
                            <a href="">实验考试</a>
                        </li>
                        <li class="nav-items">
                            <a href="">开放实验</a>
                        </li>
                        <li class="nav-items">
                            <a href="">虚拟实验</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教研成果</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学改革</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">下载中心</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- S banner -->
    <div class="banner">
        <!-- logo -->
        <img src="../images/team.jpg">
    </div>
    <!-- E banner -->
    <!-- main content -->


    <!-- S main -->
    <!-- main content -->
    <main class="content">
        <div class="achievement container">
            <div class="achiecontainer">
                <div class="location">
                    <div class="locationInfo">
                        <span class="location-icon"></span>
                        您所在的位置：
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\index.html" title="厚朴协同">厚朴协同</a> &gt;&gt;
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\Profiles\index.html" title="学习历程">学习历程</a> &gt;&gt;
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\Team\index.html" title="团队锦囊">团队锦囊</a>
                        <form action="http://ce.sysu.edu.cn/echemi/modernlab/search.aspx" method="post" name="Search" class="css_search_form">
                            <input type="text" name="Keyword" class="search_text">
                            <input type="submit" value="搜索" class="search_button">
                            <input type="hidden" name="IsFuzzy" value="on">
                        </form>
                    </div>
                </div>
                <div class="article no-sidebar">
                    <div class="article_left">
                        <!-- S content-->
                        <div class="main_box">
                            <ul class="">
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】氢原子光谱</a>
                                    </div>
                                </li>
                        
                                <li class="hope_list_item">
                                    <span class="list_time">2007-10-21</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】偶极距的测定</a>
                                    </div>
                                </li>
                        
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】镍在硫酸溶液中的阳极钝化行为</a>
                                    </div>
                                </li>
                        
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】电泳法测定Fe(OH)
                                            <sub>3</sub>溶胶的ζ电势实验讲座</a>
                                    </div>
                                </li>
                        
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】磁化率的测定</a>
                                    </div>
                                </li>
                        
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】液体饱和蒸气压的测定</a>
                                    </div>
                                </li>
                        
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】库伦滴定测定维它命C药片中的抗坏血酸</a>
                                    </div>
                                </li>
                        
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】差热分析</a>
                                    </div>
                                </li>
                        
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】丙酮碘化反应动力学</a>
                                    </div>
                                </li>
                        
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】X射线粉末衍射法物相分析</a>
                                    </div>
                                </li>
                        
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】bet流动吸附法测定固体的比表面积</a>
                                    </div>
                                </li>
                        
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】分解反应平衡常数的测定</a>
                                    </div>
                                </li>
                        
                                <li class="list_item">
                                    <span class="list_time">2007-11-20</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="#">【电子教案】最大气泡法测定溶液表面张力</a>
                                    </div>
                                </li>
                            </ul>
                        
                        </div>
                        <div id="hopePager" class="inputPager">
                            <div class="inputPager_des"> 共1662条记录 第1/84页 该页显示20条</div>
                            <div class="inputPager_page">
                                <a class="p_1st">第一页 </a>
                                <a class="p_pre">上一页 </a>
                                <a class="p_cur">1</a>
                                <a class="p_num">2</a>
                                <a class="p_num">3</a>
                                <a class="p_num">4</a>
                                <a class="p_num">5</a>
                                <a class="p_num">6</a>
                                <a class="p_num">7</a>
                                <a class="p_num">8</a>
                                <a class="p_num">9</a>
                                <a class="p_num">10</a>
                                <a class="p_next">下一页 </a>
                                <a class="p_last">最后一页 </a>
                                <input name="pageNum" id="pageNum" onkeypress="if(event.keyCode==13){GotoPage();}" type="text" value="1">
                                <input name="btnPage" class="btnPage" id="btnPage" onclick="GotoPage();" type="button" value="GO">
                            </div>
                        </div>
                    </div>
                        <!-- S sidebar -->
                        <!-- <div class="article_right sidebar">
                            <div class="article_right_poem">
                                <li class="sidebar-header">
                                    <a href="#">
                                        <i class="sidebar-icon icon"></i>
                                        教研成果</a>
                                </li>
                                <li>
                                    <a href="#">教研成果</a>
                                </li>
                                <li>
                                    <a href="#">教研成果</a>
                                </li>
                                <li>
                                    <a href="#">教研成果</a>
                                </li>
                                <li>
                                    <a href="#">教研成果</a>
                                </li>
                            </div>
                        </div> -->
                        <!-- E siderbar-->

                        <div class="clearfloat"></div>
                    
                </div>
            </div>
    </main>
    <!-- E mian -->

    <!-- footer -->
    <footer>
        <section class="footer-content">
            <!-- footer logo -->
            <img src="../images/footer-logo.png">
            <br>
            <!-- footer links -->
            <ul class="footer-links">
                <li>
                    <a href="http://sysu.edu.cn/2012/cn/index.htm">中山大学</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/">化学学院</a>
                </li>
                <li>
                    <a href="">博雅教育</a>
                </li>
                <li>
                    <a href="">网站地图</a>
                </li>
                <li>
                    <a href="">联系我们</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/html/ChemExperiment/index.html">化学实验教学中心</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/Competition/">化学实验竞赛</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/ehs/Index.aspx">EHS管理体系</a>
                </li>

            </ul>

            <div class="copyright">
                ©
                <a href="">◇</a>
                <a href="http://ce.sysu.edu.cn/hope/">厚朴〖HOPE〗工作室</a>
                <a href="">◇</a>
            </div>
        </section>
    </footer>
</body>

</html>