<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>content</title>
    <base target="_blank">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- header/banner -->
    <header>
        <div class="container">
            <!-- logo -->
            <a class="logo" href="index.html">
                <img src="../images/logo.png">
            </a>
        </div>
    </header>

    <!-- navigator -->
    <nav>
        <div class="container">
            <div class="nav-bar">
                <button id="nav-bar-btn">
                </button>
            </div>
            <ul id="nav-item">
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">课程概况</a>
                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学团队</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学资源</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">教学设备</a>
                        </li>
                        <li class="nav-items">
                            <a href="">教学录像</a>
                        </li>
                        <li class="nav-items">
                            <a href="">电子录像</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">学习资料</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">实验习题</a>
                        </li>
                        <li class="nav-items">
                            <a href="">实验考试</a>
                        </li>
                        <li class="nav-items">
                            <a href="">开放实验</a>
                        </li>
                        <li class="nav-items">
                            <a href="">虚拟实验</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教研成果</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学改革</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">下载中心</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- S banner -->
    <div class="banner">
        <!-- logo -->
        <img src="../images/team.jpg">
    </div>
    <!-- E banner -->
    <!-- main content -->


    <!-- S main -->
    <!-- main content -->
    <main class="content">
        <div class="achievement container">
            <div class="achiecontainer">
                <div class="location">
                    <div class="locationInfo">
                        <span class="location-icon"></span>
                        您所在的位置：
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\index.html" title="厚朴协同">厚朴协同</a> &gt;&gt;
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\Profiles\index.html" title="学习历程">学习历程</a> &gt;&gt;
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\Team\index.html" title="团队锦囊">团队锦囊</a>
                        <form action="http://ce.sysu.edu.cn/echemi/modernlab/search.aspx" method="post" name="Search" class="css_search_form">
                            <input type="text" name="Keyword" class="search_text">
                            <input type="submit" value="搜索" class="search_button">
                            <input type="hidden" name="IsFuzzy" value="on">
                        </form>
                    </div>
                </div>
                <div class="article">
                    <div class="article_left">
                        <!-- S content-->
                            <div class="card-left">


                                <div class="teacher-item">
                                    <a href="" class="avater">
                                        <img src="../images/professor_05.jpg">
                                    </a>
                                    <a href="" class="name" class="teacher-name">陈六平</a>
                                    <a class="pro" href="">教授</a>
                                    <a href="" class="teacher-description">
                                        <li class="intro">个人介绍：男，1962年生，物理化学教授，博士生导师。1984年毕业于同济大学材料科学与工程系（五年制本科），获工学学士学位；1987年毕业于华东工学院（现为南京理工大学）化学工程系，物理化学专业，获工学硕士学位；1990年7月毕业于浙江大学化学系，物理化学专业，获理学博士学位。</li>
                                        <li>学科专业：物理化学</li>
                                        <li>教学工作：课程负责人，课程建设，指导实验。</li>
                                    </a>
                                </div>

                                <div class="teacher-item">
                                    <a href="" class="avater">
                                        <img src="../images/professor_05.jpg">
                                    </a>
                                    <a href="" class="name" class="teacher-name">陈六平</a>
                                    <a class="pro" href="">教授</a>
                                    <a href="" class="teacher-description">
                                        <li class="intro">个人介绍：男，1962年生，物理化学教授，博士生导师。1984年毕业于同济大学材料科学与工程系（五年制本科），获工学学士学位；1987年毕业于华东工学院（现为南京理工大学）化学工程系，物理化学专业，获工学硕士学位；1990年7月毕业于浙江大学化学系，物理化学专业，获理学博士学位。</li>
                                        <li>学科专业：物理化学</li>
                                        <li>教学工作：课程负责人，课程建设，指导实验。</li>
                                    </a>
                                </div>

                                <div class="teacher-item">
                                    <a href="" class="avater">
                                        <img src="../images/professor_05.jpg">
                                    </a>
                                    <a href="" class="name" class="teacher-name">陈六平</a>
                                    <a class="pro" href="">教授</a>
                                    <a href="" class="teacher-description">
                                        <li class="intro">个人介绍：男，1962年生，物理化学教授，博士生导师。1984年毕业于同济大学材料科学与工程系（五年制本科），获工学学士学位；1987年毕业于华东工学院（现为南京理工大学）化学工程系，物理化学专业，获工学硕士学位；1990年7月毕业于浙江大学化学系，物理化学专业，获理学博士学位。</li>
                                        <li>学科专业：物理化学</li>
                                        <li>教学工作：课程负责人，课程建设，指导实验。</li>
                                    </a>
                                </div>

                                <div class="teacher-item">
                                    <a href="" class="avater">
                                        <img src="../images/professor_05.jpg">
                                    </a>
                                    <a href="" class="name" class="teacher-name">陈六平</a>
                                    <a class="pro" href="">教授</a>
                                    <a href="" class="teacher-description">
                                        <li class="intro">个人介绍：男，1962年生，物理化学教授，博士生导师。1984年毕业于同济大学材料科学与工程系（五年制本科），获工学学士学位；1987年毕业于华东工学院（现为南京理工大学）化学工程系，物理化学专业，获工学硕士学位；1990年7月毕业于浙江大学化学系，物理化学专业，获理学博士学位。</li>
                                        <li>学科专业：物理化学</li>
                                        <li>教学工作：课程负责人，课程建设，指导实验。</li>
                                    </a>
                                </div>

                                <div class="teacher-item">
                                    <a href="" class="avater">
                                        <img src="../images/professor_05.jpg">
                                    </a>
                                    <a href="" class="name" class="teacher-name">陈六平</a>
                                    <a class="pro" href="">教授</a>
                                    <a href="" class="teacher-description">
                                        <li class="intro">个人介绍：男，1962年生，物理化学教授，博士生导师。1984年毕业于同济大学材料科学与工程系（五年制本科），获工学学士学位；1987年毕业于华东工学院（现为南京理工大学）化学工程系，物理化学专业，获工学硕士学位；1990年7月毕业于浙江大学化学系，物理化学专业，获理学博士学位。</li>
                                        <li>学科专业：物理化学</li>
                                        <li>教学工作：课程负责人，课程建设，指导实验。</li>
                                    </a>
                                </div>

                                <div class="teacher-item">
                                    <a href="" class="avater">
                                        <img src="../images/professor_05.jpg">
                                    </a>
                                    <a href="" class="name" class="teacher-name">陈六平</a>
                                    <a class="pro" href="">教授</a>
                                    <a href="" class="teacher-description">
                                        <li class="intro">个人介绍：男，1962年生，物理化学教授，博士生导师。1984年毕业于同济大学材料科学与工程系（五年制本科），获工学学士学位；1987年毕业于华东工学院（现为南京理工大学）化学工程系，物理化学专业，获工学硕士学位；1990年7月毕业于浙江大学化学系，物理化学专业，获理学博士学位。</li>
                                        <li>学科专业：物理化学</li>
                                        <li>教学工作：课程负责人，课程建设，指导实验。</li>
                                    </a>
                                </div>

                                <div class="teacher-item">
                                    <a href="" class="avater">
                                        <img src="../images/professor_05.jpg">
                                    </a>
                                    <a href="" class="name" class="teacher-name">陈六平</a>
                                    <a class="pro" href="">教授</a>
                                    <a href="" class="teacher-description">
                                        <li class="intro">个人介绍：男，1962年生，物理化学教授，博士生导师。1984年毕业于同济大学材料科学与工程系（五年制本科），获工学学士学位；1987年毕业于华东工学院（现为南京理工大学）化学工程系，物理化学专业，获工学硕士学位；1990年7月毕业于浙江大学化学系，物理化学专业，获理学博士学位。</li>
                                        <li>学科专业：物理化学</li>
                                        <li>教学工作：课程负责人，课程建设，指导实验。</li>
                                    </a>
                                </div>

                                <div class="teacher-item">
                                    <a href="" class="avater">
                                        <img src="../images/professor_05.jpg">
                                    </a>
                                    <a href="" class="name" class="teacher-name">陈六平</a>
                                    <a class="pro" href="">教授</a>
                                    <a href="" class="teacher-description">
                                        <li class="intro">个人介绍：男，1962年生，物理化学教授，博士生导师。1984年毕业于同济大学材料科学与工程系（五年制本科），获工学学士学位；1987年毕业于华东工学院（现为南京理工大学）化学工程系，物理化学专业，获工学硕士学位；1990年7月毕业于浙江大学化学系，物理化学专业，获理学博士学位。</li>
                                        <li>学科专业：物理化学</li>
                                        <li>教学工作：课程负责人，课程建设，指导实验。</li>
                                    </a>
                                </div>
      

                        </div>
                    </div>
                        <!-- S sidebar -->
                        <div class="article_right sidebar">
                            <div class="article_right_poem">
                                <li class="sidebar-header">
                                    <a href="#">
                                        <i class="sidebar-icon icon"></i>
                                        教研成果</a>
                                </li>
                                <li>
                                    <a href="#">教研成果</a>
                                </li>
                                <li>
                                    <a href="#">教研成果</a>
                                </li>
                                <li>
                                    <a href="#">教研成果</a>
                                </li>
                                <li>
                                    <a href="#">教研成果</a>
                                </li>
                            </div>
                        </div>
                        <!-- E siderbar-->

                        <div class="clearfloat"></div>
                    
                </div>
            </div>
    </main>
    <!-- E mian -->

    <!-- footer -->
    <footer>
        <section class="footer-content">
            <!-- footer logo -->
            <img src="../images/footer-logo.png">
            <br>
            <!-- footer links -->
            <ul class="footer-links">
                <li>
                    <a href="http://sysu.edu.cn/2012/cn/index.htm">中山大学</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/">化学学院</a>
                </li>
                <li>
                    <a href="">博雅教育</a>
                </li>
                <li>
                    <a href="">网站地图</a>
                </li>
                <li>
                    <a href="">联系我们</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/html/ChemExperiment/index.html">化学实验教学中心</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/Competition/">化学实验竞赛</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/ehs/Index.aspx">EHS管理体系</a>
                </li>

            </ul>

            <div class="copyright">
                ©
                <a href="">◇</a>
                <a href="http://ce.sysu.edu.cn/hope/">厚朴〖HOPE〗工作室</a>
                <a href="">◇</a>
            </div>
        </section>
    </footer>
</body>

</html>