<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>column</title>
    <base target="_blank">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- header/banner -->
    <header>
        <div class="container">
            <!-- logo -->
            <a class="logo" href="index.html">
                <img src="../images/logo.png">
            </a>
        </div>
    </header>

    <!-- navigator -->
    <nav>
        <div class="container">
            <div class="nav-bar">
                <button id="nav-bar-btn">
                </button>
            </div>
            <ul id="nav-item">
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">课程概况</a>
                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学团队</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学资源</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">教学设备</a>
                        </li>
                        <li class="nav-items">
                            <a href="">教学录像</a>
                        </li>
                        <li class="nav-items">
                            <a href="">电子录像</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">学习资料</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">实验习题</a>
                        </li>
                        <li class="nav-items">
                            <a href="">实验考试</a>
                        </li>
                        <li class="nav-items">
                            <a href="">开放实验</a>
                        </li>
                        <li class="nav-items">
                            <a href="">虚拟实验</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教研成果</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学改革</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">下载中心</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- S banner -->
    <div class="banner">
        <!-- logo -->
        <img src="../images/DSC_3539.jpg">
    </div>
    <!-- E banner -->

    <!-- main content -->
    <main class="content">
        <div class="achievement container">
            <div class="achiecontainer">
                <div class="location">
                    <div class="locationInfo">
                        <span class="location-icon"></span>
                        您所在的位置：
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\index.html" title="厚朴协同">厚朴协同</a> &gt;&gt;
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\Profiles\index.html" title="学习历程">学习历程</a> &gt;&gt;
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\Team\index.html" title="团队锦囊">团队锦囊</a>
                        <form action="http://ce.sysu.edu.cn/echemi/modernlab/search.aspx" method="post" name="Search" class="css_search_form">
                            <input type="text" name="Keyword" class="search_text">
                            <input type="submit" value="搜索" class="search_button">
                            <input type="hidden" name="IsFuzzy" value="on">
                        </form>
                    </div>
                </div>
                <div class="article">
                    <div class="card-l">

                        <div>
                            <a href="">
                                <img src="../images/card_01.jpg">
                            </a>
                            <a href="">
                                <h>
                                    </br>&nbsp;&nbsp;&nbsp;全自动倒置荧光显微镜
                                </h>
                            </a>
                            <a href="">
                                <p>
                                    倒置荧光显微镜是近代发展起来的新式荧光显微镜，就其光路来分有两种：一是透射式荧光显微镜，激发光源是通过聚光镜穿过标本材料来激发荧光的。二是落射式荧光显微镜，这是近……
                                </p>
                            </a>
                        </div>

                        <div>
                            <a href="">
                                <img src="../images/card_06.jpg">
                            </a>
                            <a href="">
                                <h>
                                    </br>&nbsp;&nbsp;&nbsp;高分凝胶渗透色谱仪
                                </h>
                            </a>
                            <a href="">
                                <p>
                                    凝胶渗透色谱(Gel Permeation Chromatography、GPC)是1964年，由J.C.Moore首先研究成功。不仅可用于小分子物质的分离和鉴定，而且可以用来分析化学性质相同分子体积……
                                </p>
                            </a>
                        </div>

                        <div>
                            <a href="">
                                <img src="../images/card_02.jpg">
                            </a>
                            <a href="">
                                <h>
                                    </br>&nbsp;&nbsp;&nbsp;紫外、可见光、近红外分光光度计
                                </h>
                            </a>
                            <a href="">
                                <p>
                                    紫外分光光度计，就是根据物质的吸收光谱研究物质的成分、结构和物质间相互作用的有效手段。紫外分光光度计可以在紫外可见光区任意选择不同波长的光。物质的吸收光谱就是物质……
                                </p>
                            </a>
                        </div>

                        <div>
                            <a href="">
                                <img src="../images/card_07.jpg">
                            </a>
                            <a href="">
                                <h>
                                    </br>&nbsp;&nbsp;&nbsp;高级摆锤式冲击试验机
                                </h>
                            </a>
                            <a href="">
                                <p>
                                    摆锤式冲击试验机适用于塑料薄膜、薄片、复合膜、铝箔等材料抗冲击性能的测定。是食品、药品、化妆品包装相关企业、科研机构、质检机构不可或缺的检测设备。
                                </p>
                            </a>
                        </div>

                        <div>
                            <a href="">
                                <img src="../images/card_03.jpg">
                            </a>
                            <a href="">
                                <h>
                                    </br>&nbsp;&nbsp;&nbsp;动静态激光光散射仪
                                </h>
                            </a>
                            <a href="">
                                <p>
                                    动态光散射外文名叫Dynamic Light Scattering(DLS)，也称光子相关光谱Photon Correlation Spectroscopy (PCS) ，准弹性光散射quasi-elastic scattering，是一种测……
                                </p>
                            </a>
                        </div>

                        <div>
                            <a href="">
                                <img src="../images/card_08.jpg">
                            </a>
                            <a href="">
                                <h>
                                    </br>&nbsp;&nbsp;&nbsp;高级旋转流变仪
                                </h>
                            </a>
                            <a href="">
                                <p>
                                    旋转流变仪测量系统：在稳定或变速情况下测量扭矩，用夹具因子将物理量转化为流变学的参数。
                                </p>
                            </a>
                        </div>

                        <div>
                            <a href="">
                                <img src="../images/card_04.jpg">
                            </a>
                            <a href="">
                                <h>
                                    </br>&nbsp;&nbsp;&nbsp;电感耦合等离子体发射光谱仪
                                </h>
                            </a>
                            <a href="">
                                <p>
                                    测定超痕量元素和同位素比值的仪器。由等离子体发生器，雾化室，炬管，四极质谱仪和一个快速通道电子倍增管（称为离子探测器或收集器）组成。其工作原理是：雾化器将溶液样品……
                                </p>
                            </a>
                        </div>

                        <div>
                            <a href="">
                                <img src="../images/card_09.jpg">
                            </a>
                            <a href="">
                                <h>
                                    </br>&nbsp;&nbsp;&nbsp;电感耦合等离子体发射光谱仪
                                </h>
                            </a>
                            <a href="">
                                <p>
                                    自动识别6位、8位或10位的转盘，无需任何设置， 即换即用。工业级316L不锈钢炉腔，表面为6层PFA耐腐蚀涂层，寿命长、易清洁。工业级双磁控管连续微波输出。特有的转盘单……
                                </p>
                            </a>
                        </div>

                        <div>
                            <a href="">
                                <img src="../images/card_05.jpg">
                            </a>
                            <a href="">
                                <h>
                                    </br>&nbsp;&nbsp;&nbsp;介电热分析仪
                                </h>
                            </a>
                            <a href="">
                                <p>
                                    可以对样品进行一系列的温度扫描、频率扫描等。在一定的气体环境中进行测试，可以得到样品的电导率、介电常数、相对介电常数、损耗因子、玻璃化转变温度、Tan值、介电损耗和活……
                                </p>
                            </a>
                        </div>

                        <div>
                            <a href="">
                                <img src="../images/card_10.jpg">
                            </a>
                            <a href="">
                                <h>
                                    </br>&nbsp;&nbsp;&nbsp;密闭式智能微波萃取仪
                                </h>
                            </a>
                            <a href="">
                                <p>
                                    倒置荧光显微镜是近代发展起来的新式荧光显微镜，就其光路来分有两种：一是透射式荧光显微镜，激发光源是通过聚光镜穿过标本材料来激发荧光的。二是落射式荧光显微镜，这是近……
                                </p>
                            </a>
                        </div>
                    </div>
                    <div id="hopePager" class="inputPager">
                        <div class="inputPager_des"> 共1662条记录 第1/84页 该页显示20条</div>
                        <div class="inputPager_page">
                            <a class="p_1st">第一页 </a>
                            <a class="p_pre">上一页 </a>
                            <a class="p_cur">1</a>
                            <a class="p_num">2</a>
                            <a class="p_num">3</a>
                            <a class="p_num">4</a>
                            <a class="p_num">5</a>
                            <a class="p_num">6</a>
                            <a class="p_num">7</a>
                            <a class="p_num">8</a>
                            <a class="p_num">9</a>
                            <a class="p_num">10</a>
                            <a class="p_next">下一页 </a>
                            <a class="p_last">最后一页 </a>
                            <input name="pageNum" id="pageNum" onkeypress="if(event.keyCode==13){GotoPage();}" type="text" value="1">
                            <input name="btnPage" class="btnPage" id="btnPage" onclick="GotoPage();" type="button" value="GO">
                        </div>
                    </div>

                </div>
            </div>
    </main>
    <!-- E mian -->
    <!-- footer -->
    <footer>
        <section class="footer-content">
            <!-- footer logo -->
            <img src="../images/footer-logo.png">
            <br>
            <!-- footer links -->
            <ul class="footer-links">
                <li>
                    <a href="http://sysu.edu.cn/2012/cn/index.htm">中山大学</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/">化学学院</a>
                </li>
                <li>
                    <a href="">博雅教育</a>
                </li>
                <li>
                    <a href="">网站地图</a>
                </li>
                <li>
                    <a href="">联系我们</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/html/ChemExperiment/index.html">化学实验教学中心</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/Competition/">化学实验竞赛</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/ehs/Index.aspx">EHS管理体系</a>
                </li>

            </ul>

            <div class="copyright">
                ©
                <a href="">◇</a>
                <a href="http://ce.sysu.edu.cn/hope/">厚朴〖HOPE〗工作室</a>
                <a href="">◇</a>
            </div>
        </section>
    </footer>
</body>

</html>