<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>content</title>
    <base target="_blank">
</head>

<body>
    <!-- header/banner -->
    <header>
        <div class="container">
            <!-- logo -->
            <a class="logo" href="index.html">
                <img src="../images/logo.png">
            </a>
        </div>
    </header>

    <!-- navigator -->
    <nav>
        <div class="container">
            <div class="nav-bar">
                <button id="nav-bar-btn">
                </button>
            </div>
            <ul id="nav-item">
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">课程概况</a>
                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学团队</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学资源</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">教学设备</a>
                        </li>
                        <li class="nav-items">
                            <a href="">教学录像</a>
                        </li>
                        <li class="nav-items">
                            <a href="">电子录像</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">学习资料</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">实验习题</a>
                        </li>
                        <li class="nav-items">
                            <a href="">实验考试</a>
                        </li>
                        <li class="nav-items">
                            <a href="">开放实验</a>
                        </li>
                        <li class="nav-items">
                            <a href="">虚拟实验</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教研成果</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学改革</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">下载中心</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- S banner -->
    <div class="banner">
        <!-- logo -->
        <img src="../images/team.jpg">
    </div>
    <!-- E banner -->
    <!-- main content -->
  

    <!-- S main -->
 <!-- main content -->
 <main class="content">
    <div class="achievement container">
        <div class="achiecontainer">
            <div class="location">
                <div class="locationInfo">
                    <span class="location-icon"></span>
                                   您所在的位置：<a href="http://ce.sysu.edu.cn/hope/html\Internal\index.html" title="厚朴协同">厚朴协同</a> &gt;&gt;<a href="http://ce.sysu.edu.cn/hope/html\Internal\Profiles\index.html" title="学习历程">学习历程</a>  &gt;&gt; <a href="http://ce.sysu.edu.cn/hope/html\Internal\Team\index.html" title="团队锦囊">团队锦囊</a>
                </div>
            </div>
            <div class="article">
                <div class="article_left">
                    <!-- S content-->
                    <div>
                        <div class="card-left">


                            <div>
                                <a href="">
                                    <img src="../images/professor_05.jpg">
                                </a>

                                <a href="" class="name" style="color:#4a78a8; ">陈六平</a>
                                <a class="pro" href="">教授</a>
                                <a href="">
                                    <li class="intro">个人介绍：男，1962年生，物理化学教授，博士生导师。1984年毕业于同济大学材料科学与工程系（五年制本科），获工学学士学位；1987年毕业于华东工学院（现为南京理工大学）化学工程系，物理化学专业，获工学硕士学位；1990年7月毕业于浙江大学化学系，物理化学专业，获理学博士学位。</li>
                                    <li>学科专业：物理化学</li>
                                    <li>教学工作：课程负责人，课程建设，指导实验。</li>
                                </a>
                            </div>

                            <div>
                                <a href="">
                                    <img src="../images/professor_08.jpg">
                                </a>
                                <a href="" class="name" style="color:#4a78a8; ">吕树申</a>
                                <a class="pro" href="">教授</a>
                                <a href="">
                                    <li class="intro">个人介绍：男，1968年生，教授，博士生导师。学士（1990），西安交通大学；硕士（1993），西安交通大学；博士（1997），华南理工大学；博士后（1998-2000），日本筑波大学。</li>
                                    <li>学科专业：化学工程</li>
                                    <li>教学工作：课程建设，指导实验。</li>
                                </a>
                            </div>

                            <div>
                                <a href="">
                                    <img src="../images/professor_10.jpg">
                                </a>
                                <a href="" class="name" style="color:#4a78a8; ">赵存元</a>
                                <a class="pro" href="">教授</a>
                                <a href="">
                                    <li class="intro">个人介绍：男，1962年生，教授，博士生导师。1997年11月毕业于南京大学配位化学研究所，理论无机化学专业，获理学博士学位。1987年7月毕业于西北师范大学化学化工学院，物理化学专业，获理学硕士学位。1984年7月毕业于西北师范大学化学化工学院，获理学学士学位。</li>
                                    <li>学科专业：物理化学</li>
                                    <li>教学工作：课程建设，指导实验。</li>
                                </a>
                            </div>

                            <div>
                                <a href="">
                                    <img src="../images/professor_12.jpg">
                                </a>
                                <a href="" class="name" style="color:#4a78a8; ">谢天尧</a>
                                <a class="pro" href="">副教授</a>
                                <a href="">
                                    <li class="intro">个人介绍：男，1966年生，副教授，研究生导师。1988年获浙江工业大学化工系学士学位。1991年获中山大学化学系理学硕士学位。1994年获中山大学化学系理学博士学位。</li>
                                    <li>学科专业：分析化学</li>
                                    <li>教学工作：课程建设，指导实验。</li>
                                </a>
                            </div>

                            <div>
                                <a href="">
                                    <img src="../images/professor_14.jpg">
                                </a>
                                <a href="" class="name" style="color:#4a78a8; ">童叶翔</a>
                                <a class="pro" href="">教授</a>
                                <a href="">
                                    <li class="intro">个人介绍：男，1963年生，教授，博士生导师。1981.9-1985.7，中山大学化学系化学专业获学士学位；1985.9-1988.7，中山大学化学系物理化学专业获硕士学位；1996.9-1999.12，中山大学化学院有机化学专业获博士学位。</li>
                                    <li>学科专业：物理化学</li>
                                    <li>教学工作：课程建设，指导实验。</li>
                                </a>
                            </div>

                            <div>
                                <a href="">
                                    <img src="../images/professor_16.jpg">
                                </a>
                                <a href="" class="name" style="color:#4a78a8; ">杨洋溢</a>
                                <a class="pro" href="">副教授</a>
                                <a href="">
                                    <li class="intro">个人介绍：男，1964年生，副教授，博士生导师。1982.9-1986.7，中山大学化学系化学专业获学士学位；1986.9-1989.7，中山大学化学系物理化学专业获硕士学位；1997.9-2001.6，中山大学化学院无机化学专业获博士学位。</li>
                                    <li>学科专业：物理化学</li>
                                    <li>教学工作：课程建设，指导实验。</li>
                                </a>
                            </div>

                            <div>
                                <a href="">
                                    <img src="../images/professor_18.jpg">
                                </a>
                                <a href="" class="name" style="color:#4a78a8; ">杨立群</a>
                                <a class="pro" href="">副教授</a>
                                <a href="">
                                    <li class="intro">个人介绍：女，1969年生，副教授，硕士生导师。1987.9-1994.6，武汉大学化学系高分子化学与物理专业学习, 获理学学士、硕士学位，导师：张俐娜院士；1994.9-1997.6，中山大学高分子研究所高分子化学与物理专业学习,
                                        获理学博士学位，导师：李卓美教授；2000.3-2004.3，日本国家产业技术综合研究所，日本学术振兴会(JSPS)博士后和AIST博士后。
                                    </li>
                                    <li>学科专业：高分子化学与物理</li>
                                    <li>教学工作：课程建设，指导实验。</li>
                                </a>
                            </div>


                            <div>
                                <a href="">
                                    <img src="../images/professor_20.jpg">
                                </a>
                                <a href="" class="name" style="color:#4a78a8; ">王小妹</a>
                                <a class="pro" href="">副教授</a>
                                <a href="">
                                    <li class="intro">个人介绍：女，副教授。1979.9-1983.6，就读于湖南大学化工系基本有机化工专业本科，获学士学位；1989.6，毕业于北京石油大学炼制系石油加工（现改为精细化工）。</li>
                                    <li>学科专业：化学工程</li>
                                    <li>教学工作：课程建设，指导实验。</li>
                                </a>
                            </div>

                            <div>
                                <a href="">
                                    <img src="../images/professor_22.jpg">
                                </a>
                                <a href="" class="name" style="color:#4a78a8; ">欧阳钢锋</a>
                                <a class="pro" href="">教授</a>
                                <a href="">
                                    <li class="intro">个人介绍：男，1970年生，教授，博士生导师。1988.09-1992.06，四川大学化学系本科；1992.09-1995.06，中山大学化学与化学工程学院硕士；1999.09-2003.06，中山大学化学与化学工程学院博士。</li>
                                    <li>学科专业：物理化学</li>
                                    <li>教学工作：课程建设，指导实验。</li>
                                </a>
                            </div>

                            <div>
                                <a href="">
                                    <img src="../images/professor_zjy.png">
                                </a>
                                <a href="" class="name" style="color:#4a78a8; ">张建勇</a>
                                <a class="pro" href="">教授</a>
                                <a href="">
                                    <li class="intro">个人介绍：男，1974年生，教授。1996年获中南大学学士学位；1999年获南开大学硕士学位；2003年获新加坡国立大学博士学位。</li>
                                    <li>学科专业：物理化学</li>
                                    <li>教学工作：课程建设，指导实验。</li>
                                </a>
                            </div>

                        </div>


                </div>
                <!-- S sidebar -->
                <div class="article_right sidebar">
                    <div class="article_right_poem">
                        <li class="sidebar-header">
                            <a href="#">
                                <i class="sidebar-icon icon"></i>
                                教研成果</a>
                        </li>
                        <li>
                            <a href="#">教研成果</a>
                        </li>
                        <li>
                            <a href="#">教研成果</a>
                        </li>
                        <li>
                            <a href="#">教研成果</a>
                        </li>
                        <li>
                            <a href="#">教研成果</a>
                        </li>
                    </div>
                </div>
                <!-- E siderbar-->

                <div class="clearfloat"></div>
            </div>
        </div>
    </div>
</main>
    <!-- E mian -->

    <!-- footer -->
    <footer>
        <section class="footer-content">
            <!-- footer logo -->
            <img src="../images/footer-logo.png">
            <br>
            <!-- footer links -->
            <ul class="footer-links">
                <li>
                    <a href="http://sysu.edu.cn/2012/cn/index.htm">中山大学</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/">化学学院</a>
                </li>
                <li>
                    <a href="">博雅教育</a>
                </li>
                <li>
                    <a href="">网站地图</a>
                </li>
                <li>
                    <a href="">联系我们</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/html/ChemExperiment/index.html">化学实验教学中心</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/Competition/">化学实验竞赛</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/ehs/Index.aspx">EHS管理体系</a>
                </li>

            </ul>

            <div class="copyright">
                ©
                <a href="">◇</a>
                <a href="http://ce.sysu.edu.cn/hope/">厚朴〖HOPE〗工作室</a>
                <a href="">◇</a>
            </div>
        </section>
    </footer>
</body>

</html>