<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>achievement</title>
    <base target="_blank">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- header/banner -->
    <header>
        <div class="container">
            <!-- logo -->
            <a class="logo" href="index.html">
                <img src="../images/logo.png">
            </a>
        </div>
    </header>

    <!-- navigator -->
    <nav>
        <div class="container">
            <div class="nav-bar">
                <button id="nav-bar-btn">
                </button>
            </div>
            <ul id="nav-item">
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">课程概况</a>
                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学团队</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学资源</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">教学设备</a>
                        </li>
                        <li class="nav-items">
                            <a href="">教学录像</a>
                        </li>
                        <li class="nav-items">
                            <a href="">电子录像</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">学习资料</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">实验习题</a>
                        </li>
                        <li class="nav-items">
                            <a href="">实验考试</a>
                        </li>
                        <li class="nav-items">
                            <a href="">开放实验</a>
                        </li>
                        <li class="nav-items">
                            <a href="">虚拟实验</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教研成果</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学改革</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">下载中心</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- S banner -->
    <div class="banner">
        <!-- logo -->
        <img src="../images/achievement.jpg">
    </div>
    <!-- E banner -->

    <!-- main content -->
    <main class="content">
        <div class="achievement container">
            <div class="achiecontainer">
                <div class="location">
                    <div class="locationInfo">
                        <span class="location-icon"></span>
                        您所在的位置：
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\index.html" title="厚朴协同">厚朴协同</a> &gt;&gt;
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\Profiles\index.html" title="学习历程">学习历程</a> &gt;&gt;
                        <a href="http://ce.sysu.edu.cn/hope/html\Internal\Team\index.html" title="团队锦囊">团队锦囊</a>
                        <form action="http://ce.sysu.edu.cn/echemi/modernlab/search.aspx" method="post" name="Search" class="css_search_form">
                            <input type="text" name="Keyword" class="search_text">
                            <input type="submit" value="搜索" class="search_button">
                            <input type="hidden" name="IsFuzzy" value="on">
                        </form>
                    </div>
                </div>
                <div class="article">
                    <div class="article_left">
                        <div class="article_left_contain">
                            <div class="article_title">
                                “现代化学实验与技术”课程举行学期总结会</div>

                            <div class="article_otherInfo">作者：佚名 来源：原创 发布时间：2013-03-21 点击数：939</div>

                            <p>2009年1月19日下午，“现代化学实验与技术”课程举行学期总结会，会议由戴宗老师主持，8位实验教师和2位实验技术人员参加了会议，化学实验教学中心主任、《现代化学实验与技术》课程负责人陈六平教授参加会议，同时邀请了分析科学研究所所长李攻科教授和邹小勇教授出席会议。</p>

                            <p>会上，戴老师总结了本学期基础仪器分析实验的开设情况。基础仪器分析实验是《现代化学实验与技术》课程的重要组成部分，本学期开了9个实验，共60学时，2个学分。戴老师从实验教学规范、前期准备（包括仪器分析实验教学要求；教学课件；实验报告的要求；成绩评定标准；实验任课教师的培训；实验前的动员工作）、中期执行、后期意见反馈及总结、实验内容改革等方面总结了本学期的实验教学情况。</p>

                            <p>课程组在本学期开学前召开了教学小组会议，讨论了教学方案。实验教师就各自负责的实验撰写了教学PPT和最新的实验讲义。在学期初把这些材料和内容放在了公开的FTP资源上，以便让学生下载预习。在实验前，召开了2006级本科生实验动员大会，给同学讲解了实验安排、要求和考核、成绩组成和期望等。在实验前，对新教师进行了授课培训，邀请了李攻科教授和邹小勇教授进行了旁听和指点，对教学质量进行严格把关。尝试录制了实验教学短片，在接下来的工作中要把特色实验的教学短片录制工作做完整。本学期实验结束后，做了学生调查问卷工作，征询了学生的意见和对实验教学的建议，我们将以此作为进一步进行实验教学的基础。</p>

                            <p>接着，戴老师对本课程的“仪器分析实验II”的开展工作提出了工作设想：实验内容设置方向为：新技术、新方法；仪器联用技术；综合性实验和研究性实验。他恳请各位老师给予改进的意见。</p>

                            <p>陈六平教授肯定了以戴老师为负责人的教学团队所取得的成绩。他指出，基础仪器分析实验内容在去年做了较大的调整，是缘于在过去几年里该实验课程存在着一些问题，学院针对这些问题对教师团队做了调整，自戴老师负责基础仪器分析实验工作后，从开始到中间过程的控制，除了他本人花了大量的精力外，与很多参与实验的老师的认识很有关系，主要在于工作的意识和态度。接着，陈老师把物理化学实验的一些教学经验与在座各位老师进行了分享。对于仪器分析实验II，他提出是为了落实教育部关于增加学生实践训练的要求而设立的，增加这1个学分很不容易，对于培养学生进一步掌握现代检测技术及其应用的能力具有重要的现实意义。自2008级起，将有280余名学生修读这部分内容，他建议在实验设计上更综合一些，要求同学利用现有仪器解决实际问题，可以按兴趣选做自己喜欢的实验题目，其目的是训练学生的实践能力，对方法的掌握和应用能力，希望在实验后能引起学生更多的思考，更大的科研兴趣。</p>

                            <p>李教授和邹教授也提出了很多的想法，包括实验内容的设置、实验过程的执行和控制等。</p>

                            <p>李攻科教授指出，针对基础仪器分析实验存在的问题，这个学期戴老师做了很多改进工作，在各位老师的配合下取得了一定的成绩。她指出，要搞好实验教学，首要问题是师资队伍的建设，包括教师队伍和教辅队伍的建设，这个学期这个团队表现出很好的团结和合作精神；仪器分析实验作为《现代化学实验与技术》课程的一个组成部分，老师们在课程建设上要有一个目标，到底要怎样定位，要取得什么样的成绩，给整个教学小组提出一个方向；第三个问题是制度的建设，要把实验室管理好，把仪器管理好，要建立必要的制度，完善现有的制度，而且把它实施到位；第四个重要问题是要注重条件建设，仪器分析实验有其特殊性，场地和仪器配备是基础，在仪器购置上是否可以考虑分层次，既有普及性仪器，也要配置高端仪器，前者可增加学生动手的机会，满足基础实验教学，后者可以提高学生的进一步科研能力，也能进入大型仪器管理平台为老师的科研服务。
                                会上老师们进行了热烈的讨论，为下一学期的实验课程开展提出很多意见，大家都表示有信心把这个课程建设好。


                            </p>
                            <div class="article_copyright">化学实验教学中心，赖瑢报道 文章录入：admin 责任编辑：admin</div>
                            <div class="article_preNext">
                                <ul class="hope_article_preNext">
                                    <li>上一篇文章：没有了</li>
                                    <li>下一篇文章：
                                        <a href="http://ce.sysu.edu.cn/hope/Item/189575.aspx">2018年4月编程组小结与5月计划</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- S sidebar -->
                    <div class="article_right sidebar">
                        <div class="article_right_poem">
                            <li class="sidebar-header">
                                <a href="#">
                                    <i class="sidebar-icon icon"></i>
                                    教研成果</a>
                            </li>
                            <li>
                                <a href="#">教研成果</a>
                            </li>
                            <li>
                                <a href="#">教研成果</a>
                            </li>
                            <li>
                                <a href="#">教研成果</a>
                            </li>
                            <li>
                                <a href="#">教研成果</a>
                            </li>
                        </div>
                    </div>
                    <!-- E siderbar-->

                    <div class="clearfloat"></div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <section class="footer-content">
            <!-- footer logo -->
            <img src="../images/footer-logo.png">

            <!-- footer links -->
            <ul class="footer-links">
                <li>
                    <a href="">中山大学</a>
                </li>
                <li>
                    <a href="">化学学院</a>
                </li>
                <li>
                    <a href="">博雅教育</a>
                </li>
                <li>
                    <a href="">网站地图</a>
                </li>
                <li>
                    <a href="">联系我们</a>
                </li>
                <li>
                    <a href="">化学实验教学中心</a>
                </li>
                <li>
                    <a href="">化学实验竞赛</a>
                </li>
                <li>
                    <a href="">EHS管理体系</a>
                </li>

            </ul>

            <div class="copyright">
                ©
                <a href="">◇</a>
                <a href="">厚朴〖HOPE〗工作室</a>
                <a href="">◇</a>
            </div>
        </section>
    </footer>

</body>

</html>