<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <base target="_blank">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="国家精品课程,现代化学实验与技术">
    <meta name="description" content="国家精品课程现代化学实验与技术">
</head>

<body>
    <!-- header/banner -->
    <header>
        <div class="container">
            <!-- logo -->
            <a class="logo" href="index.html">
                <img src="../images/logo.png">
            </a>
        </div>
    </header>

    <!-- navigation -->
    <nav>
        <div class="container">
            <div class="nav-bar">
                <button id="nav-bar-btn">
                </button>
            </div>
            <ul id="nav-item">
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">课程概况</a>
                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学团队</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学资源</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">教学设备</a>
                        </li>
                        <li class="nav-items">
                            <a href="">教学录像</a>
                        </li>
                        <li class="nav-items">
                            <a href="">电子录像</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">学习资料</a>

                    <!-- drop down menu-->
                    <ul class="drop-down">
                        <li class="nav-items">
                            <a href="">实验习题</a>
                        </li>
                        <li class="nav-items">
                            <a href="">实验考试</a>
                        </li>
                        <li class="nav-items">
                            <a href="">开放实验</a>
                        </li>
                        <li class="nav-items">
                            <a href="">虚拟实验</a>
                        </li>
                    </ul>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教研成果</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">教学改革</a>

                </li>
                <!-- nav item -->
                <li class="nav-items">
                    <a href="">下载中心</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- main content -->
    <main>
        <!--slider-->
        <div class="slide">
            <img src="../images/slide.png">
        </div>
        <!--news list-->
        <section id="news">
            <div class="container">
                <header id="news-header" class="news-lists">
                    <hgroup>
                        <h1 id="news-lists" class="active">
                            <a href="">
                                <i class="icon test"></i>
                                教学新闻
                            </a>
                            <span></span>
                        </h1>
                        <h1 id="plan-lists">
                            <a href="">
                                <i class="icon book"></i>
                                电子教案
                            </a>
                            <span></span>
                        </h1>
                        <h1 id="expriment-lists">
                            <a href="">
                                <i class="icon flask"></i>
                                开放实验
                            </a>
                            <span></span>
                        </h1>
                    </hgroup>
                    <!-- search button-->
                    <form action="http://ce.sysu.edu.cn/echemi/modernlab/search.aspx" method="post" name="Search" class="css_search_form">
                        <input type="text" name="Keyword" class="search_text">
                        <input type="submit" value="搜索" class="search_button">
                        <input type="hidden" name="IsFuzzy" value="on">
                    </form>
                </header>
                <section class="clearfix">
                    <section class="news-left">
                        <img src="../images/pic2.png">
                        <span class="description">
                            经世致用，知行合一
                        </span>
                    </section>
                    <section class="lists news-lists">
                        <ul>
                            <!-- list -->
                            <li class="lists-item">
                                <a href="">
                                    <i class="icon icon-new"></i>
                                    <span>XXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCXXXXXXX</span>
                                </a>
                                <time>1028-23-23</time>
                            </li>
                            <!-- list -->
                              <!-- list -->
                              <li class="lists-item">
                                <a href="">
                                    <i class="icon icon-new"></i>
                                    <span>XXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCXXXXXXX</span>
                                </a>
                                <time>1028-23-23</time>
                            </li>
                            <!-- list -->
                              <!-- list -->
                              <li class="lists-item">
                                <a href="">
                                    <i class="icon icon-new"></i>
                                    <span>XXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCXXXXXXX</span>
                                </a>
                                <time>1028-23-23</time>
                            </li>
                            <!-- list -->
                             <!-- list -->
                             <li class="lists-item">
                                <a href="">
                                    <i class="icon icon-new"></i>
                                    <span>XXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCXXXXXXX</span>
                                </a>
                                <time>1028-23-23</time>
                            </li>
                            <!-- list -->
                             <!-- list -->
                             <li class="lists-item">
                                <a href="">
                                    <i class="icon icon-new"></i>
                                    <span>XXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCXXXXXXX</span>
                                </a>
                                <time>1028-23-23</time>
                            </li>
                            <!-- list -->
                             <!-- list -->
                             <li class="lists-item">
                                <a href="">
                                    <i class="icon icon-new"></i>
                                    <span>XXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCXXXXXXX</span>
                                </a>
                                <time>1028-23-23</time>
                            </li>
                            <!-- list -->
                             <!-- list -->
                             <li class="lists-item">
                                <a href="">
                                    <i class="icon icon-new"></i>
                                    <span>XXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCXXXXXXX</span>
                                </a>
                                <time>1028-23-23</time>
                            </li>
                            <!-- list -->
                             <!-- list -->
                             <li class="lists-item">
                                <a href="">
                                    <i class="icon icon-new"></i>
                                    <span>XXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCXXXXXXX</span>
                                </a>
                                <time>1028-23-23</time>
                            </li>
                            <!-- list -->
                        </ul>
                    </section>
                    <section class="lists plan-lists">
                        <ul>
                            <!-- list -->
                            <li class="lists-item">
                                <a href="">
                                    <i class="icon icon-new"></i>
                                    <span>XXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCXXXXXXX</span>
                                </a>
                                <time>1028-23-23</time>
                            </li>
                            <!-- list --> <!-- list -->
                            <li class="lists-item">
                                <a href="">
                                    <i class="icon icon-new"></i>
                                    <span>XXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCXXXXXXX</span>
                                </a>
                                <time>1028-23-23</time>
                            </li>
                            <!-- list -->
                        </ul>
                    </section>
                    <section class="lists expriment-lists">
                        <ul>
                           <!-- list -->
                           <li class="lists-item">
                            <a href="">
                                <i class="icon icon-new"></i>
                                <span>XXXXXXCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCXXXXXXX</span>
                            </a>
                            <time>1028-23-23</time>
                        </li>
                        <!-- list --> 
                        </ul>
                    </section>
                </section>
            </div>
        </section>



        <!--sources-->
        <div class="sources">
            <div class="container">

                <div class="ti">
                    <a href="">
                        <i class="icon grid"></i>
                        <span>教学资源</span>
                    </a>
                    <span class="sources-decription">精密仪器，技术领先</span>
                </div>

                <ul class="sources-items">
                    <li class="sources-item">
                        <a href="">
                            <figure>
                                <img src="../images/srcs1.png">
                            </figure>
                            <div class="sources-decription">电感耦合等离子体质谱仪</div>
                        </a>
                    </li>
                    <li class="sources-item">
                        <a href="">
                            <figure>
                                <img src="../images/srcs2.png">
                            </figure>
                            <div class="sources-decription">密闭式智能微波萃取仪</div>
                        </a>
                    </li>
                    <li class="sources-item">
                        <a href="">
                            <figure>
                                <img src="../images/srcs3.png">
                            </figure>
                            <div class="sources-decription">气相色谱仪</div>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <!--icon list-->
        <div class="list">
            <ul>
                <li class="list-item">
                    <a href="">
                        <i class="icon_1 icon"></i>

                        <div class="ti">师资力量</div>
                        <div class="intro">一流团队，诲人不倦</div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="">
                        <i class="icon_2 icon"></i>

                        <div class="ti">教学大纲</div>
                        <div class="intro">一流团队，诲人不倦</div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="">
                        <i class="icon_3 icon"></i>

                        <div class="ti">教学视频</div>
                        <div class="intro">一流团队，诲人不倦</div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="">
                        <i class="icon_4 icon"></i>

                        <div class="ti">教学设备</div>
                        <div class="intro">一流团队，诲人不倦</div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="">
                        <i class="icon_5 icon"></i>

                        <div class="ti">开放实验</div>
                        <div class="intro">一流团队，诲人不倦</div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="">
                        <i class="icon_6 icon"></i>

                        <div class="ti">教学改革</div>
                        <div class="intro">一流团队，诲人不倦</div>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    <!-- footer -->
    <footer>
        <section class="footer-content">
            <!-- footer logo -->
            <div class="footer-logo">
            <img src="../images/footer-logo.png">
        </div>
            <!-- footer links -->
            <ul class="footer-links">
                <li>
                    <a href="http://sysu.edu.cn/2012/cn/index.htm">中山大学</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/">化学学院</a>
                </li>
                <li>
                    <a href="">博雅教育</a>
                </li>
                <li>
                    <a href="">网站地图</a>
                </li>
                <li>
                    <a href="">联系我们</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/html/ChemExperiment/index.html">化学实验教学中心</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/Competition/">化学实验竞赛</a>
                </li>
                <li>
                    <a href="http://ce.sysu.edu.cn/ehs/Index.aspx">EHS管理体系</a>
                </li>

            </ul>

            <div class="copyright">
                ©
                <a href="">◇</a>
                <a href="http://ce.sysu.edu.cn/hope/">厚朴〖HOPE〗工作室</a>
                <a href="">◇</a>
            </div>
        </section>
    </footer>
</body>

</html>