<!--head-->

<head>
    <meta charset="UTF-8">
    <title>${HopeTag.PageTitle}</title>
    <link rel="icon" href="${HopeTag.InstallDir}Skin/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="${HopeTag.InstallDir}Skin/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> ${HopeTag.MetaKeywords} ${HopeTag.GetSkin_CSS("modernlab_2018")}
    <script src="${HopeTag.InstallDir}JS/index.js.js"></script>
</head>

<!--body-->
<!-- S header/banner -->
<header>
    <div class="container">
        <!-- logo -->
        <a class="logo" href="${HopeTag.SiteIndex}">
            <img src="${HopeTag.InstallDir}Skin/images/d9a70280b3680282438e63ba9ddb6879.png">
        </a>
    </div>
</header>
<!-- E header/banner -->

<!-- S navigation -->
<nav>
    <div class="container">
        <div class="nav-bar">
            <button id="nav-bar-btn">
            </button>
        </div>
        <ul id="nav-item">
            <!-- nav item -->
            ########课程概况 #set($Cat = ${HopeTag.GetCategory(149)})
            <li class="nav-items">
                <a href="${HopeTag.GetCategoryLink($Cat.NodeID)}"> $Cat.name</a>
                <!-- drop down menu-->
                <ul class="drop-down">
                    #foreach($cat in ${HopeTag.CategorySource($Cat.NodeID)})
                    <li class="nav-items">
                        <a href="${HopeTag.GetCategoryLink($cat.NodeID)}"> $cat.name</a>
                    </li>
                    #end
                </ul>
            </li>
            <!-- nav item -->
            <!-- nav item -->
            ########教学团队 #set($Cat = ${HopeTag.GetCategory(158)})
            <li class="nav-items">
                <a href="${HopeTag.GetCategoryLink($Cat.NodeID)}">$Cat.name</a>
                <!-- drop down menu-->
                <ul class="drop-down">
                    #foreach($cat in ${HopeTag.CategorySource($Cat.NodeID)})
                    <li class="nav-items">
                        <a href="${HopeTag.GetCategoryLink($cat.NodeID)}">$cat.name</a>
                    </li>
                    #end
                </ul>
            </li>
            <!-- nav item -->
            <!-- nav item -->
            ########教学资源 #set($Cat = ${HopeTag.GetCategory(441)})
            <li class="nav-items">
                <a href="${HopeTag.GetCategoryLink($Cat.NodeID)}">$Cat.name</a>
                <!-- drop down menu-->
                <ul class="drop-down">
                    #foreach($cat in ${HopeTag.CategorySource($Cat.NodeID)})
                    <li class="nav-items">
                        <a href="${HopeTag.GetCategoryLink($cat.NodeID)}">$cat.name</a>
                    </li>
                    #end
                </ul>
            </li>
            <!-- nav item -->
            <!-- nav item -->
            ########学习资料 #set($Cat = ${HopeTag.GetCategory(442)})
            <li class="nav-items">
                <a href="${HopeTag.GetCategoryLink($Cat.NodeID)}">$Cat.name</a>
                <!-- drop down menu-->
                <ul class="drop-down">
                    #foreach($cat in ${HopeTag.CategorySource($Cat.NodeID)})
                    <li class="nav-items">
                        <a href="${HopeTag.GetCategoryLink($cat.NodeID)}">$cat.name</a>
                    </li>
                    #end
                </ul>
            </li>
            <!-- nav item -->
            <!-- nav item -->
            ########教研成果 #set($Cat = ${HopeTag.GetCategory(165)})
            <li class="nav-items">
                <a href="${HopeTag.GetCategoryLink($Cat.NodeID)}">$Cat.name</a>
                <!-- drop down menu-->
                <ul class="drop-down">
                    #foreach($cat in ${HopeTag.CategorySource($Cat.NodeID)})
                    <li class="nav-items">
                        <a href="${HopeTag.GetCategoryLink($cat.NodeID)}">$cat.name</a>
                    </li>
                    #end
                </ul>
            </li>
            <!-- nav item -->
            <!-- nav item -->
            ########教学改革 #set($Cat = ${HopeTag.GetCategory(166)})
            <li class="nav-items">
                <a href="${HopeTag.GetCategoryLink($Cat.NodeID)}">$Cat.name</a>
                <!-- drop down menu-->
                <ul class="drop-down">
                    #foreach($cat in ${HopeTag.CategorySource($Cat.NodeID)})
                    <li class="nav-items">
                        <a href="${HopeTag.GetCategoryLink($cat.NodeID)}">$cat.name</a>
                    </li>
                    #end
                </ul>
            </li>
            <!-- nav item -->
            <!-- nav item -->
            #########下载中心 #set($Cat = ${HopeTag.GetCategory(443)})
            <li class="nav-items">
                <a href="${HopeTag.GetCategoryLink($Cat.NodeID)}">$Cat.name</a>
                <!-- drop down menu-->
                <ul class="drop-down">
                    #foreach($cat in ${HopeTag.CategorySource($Cat.NodeID)})
                    <li class="nav-items">
                        <a href="${HopeTag.GetCategoryLink($cat.NodeID)}">$cat.name</a>
                    </li>
                    #end
                </ul>
            </li>
            <!-- nav item -->
        </ul>
    </div>
</nav>
<!-- E navigation -->

<!-- S footer -->
<footer>
    <section class="footer-content">
        <!-- footer logo -->
        <div class="footer-logo">
            <img src="${HopeTag.InstallDir}Skin/images/e4d3c28e4fb819eaf0fada4035274ea8.png">
        </div>
        <!-- footer links -->
        <ul class="footer-links">
            <li>
                <a href="http://sysu.edu.cn/2012/cn/index.htm">中山大学</a>
            </li>
            <li>
                <a href="http://ce.sysu.edu.cn/">化学学院</a>
            </li>
            <li>
                <a href="">博雅教育</a>
            </li>
            <li>
                <a href="">网站地图</a>
            </li>
            <li>
                <a href="">联系我们</a>
            </li>
            <li>
                <a href="http://ce.sysu.edu.cn/html/ChemExperiment/index.html">化学实验教学中心</a>
            </li>
            <li>
                <a href="http://ce.sysu.edu.cn/Competition/">化学实验竞赛</a>
            </li>
            <li>
                <a href="http://ce.sysu.edu.cn/ehs/Index.aspx">EHS管理体系</a>
            </li>

        </ul>

        <div class="copyright">
            ©
            <a href="${HopeTag.UserLoginUrl}">◇</a>
            <a href="http://ce.sysu.edu.cn/hope/">厚朴〖HOPE〗工作室</a>
            <a href="${HopeTag.AdminLoginUrl}">◇</a>
        </div>
    </section>
</footer>
<!-- E footer -->

<!-- S location -->
<div class="location">
    <div class="locationInfo">
        <i class="location-icon"></i>
        ${HopeTag.Breadcrumbs} ${HopeTag.SearchBar()}
    </div>
</div>
<!-- E location -->

<!-- S sidebar -->
<div class="article_right sidebar">
    <div class="article_right_poem">
        #if(${HopeTag.ParentCategoryID} == 0)
        <li>
            <a href="${HopeTag.GetCategoryLink(${HopeTag.CurrentCategoryID})}" class="sidebar-header">
                <i class="sidebar-icon icon"></i>${HopeTag.GetCategoryName(${HopeTag.CurrentCategoryID})}</a>
        </li>
        #else
        <li>
            <a href="${HopeTag.GetCategoryLink(${HopeTag.ParentCategoryID})}" class="sidebar-header">
                <i class="sidebar-icon icon"></i>${HopeTag.GetCategoryName(${HopeTag.ParentCategoryID})}</a>
        </li>
        #end #foreach($cat in ${HopeTag.CategorySource(${HopeTag.ParentCategoryID})}) #if($cat.NodeID == 171 || $cat.NodeID == 176)
        #foreach($art in ${HopeTag.ArticlePageSource($cat.NodeID,false,1)})
        <li>
            <a href="${HopeTag.GetItemLink($art.GeneralID)}">$cat.name

            </a>
        </li>
        #end #else
        <li>
            <a href="${HopeTag.GetCategoryLink($cat.NodeID)}" title="${cat.NodeTips}">$cat.Name

            </a>
        </li>
        #end #end
    </div>
</div>
<!--E sidebar-->



<!-- S content.html-->
<main class="content">
    <div class="achievement container">
        <div class="achiecontainer">
            ####################### my location
            <div class="article">
                <div class="article_left">
                    <div class="article_left_contain">
                        <h1 class="article_title">
                            ${HopeTag.Article.Title}
                        </h1>
                        <li class="article_detail">

                            <span class="name">作者：${HopeTag.GetValue("Author")}</span>
                            #if(${HopeTag.GetValue("Source")} == '')
                            <span class="sourse">文章来源：${HopeTag.GetValue("CopyFrom")}</span>
                            #end
                            <span class="hitPoint">点击数：${HopeTag.Article.Hits}</span>
                            <span class="time">更新时间：${HopeTag.FormatDateTime(${HopeTag.Article.UpdateTime})}</span>
                        </li>
                        <div class="main_article">
                            ${HopeTag.GetValue("Content")}
                            <span class="article_footer">文章录入：${HopeTag.GetValue("Author")}</span>
                            <span class="article_footer">责任编辑：${HopeTag.GetValue("Author")}</span>
                        </div>
                    </div>

                    <!-- Pager-->
                    <!--S pager-->
                    <div class="pager">
                        ${HopeTag.PrevNextArticle}
                    </div>
                    <!--E pager-->
                </div>
            </div>
            #################sidebar
            <div class="clearfloat"></div>
        </div>
    </div>
    </div>
</main>
<!-- E content.html-->

<!-- S column.html -->

<!-- main content -->
<main class="content">
    <div class="achievement container">
        <div class="achiecontainer">
            ####################### my location
            <div class="article">
                <div class="card-l">
                    <!-- S cards -->
                    <div>
                        <a href="">
                            <img src="../images/card_01.jpg">
                        </a>
                        <a href="">
                            <h>
                                </br>&nbsp;&nbsp;&nbsp;全自动倒置荧光显微镜
                            </h>
                        </a>
                        <a href="">
                            <p>
                                倒置荧光显微镜是近代发展起来的新式荧光显微镜，就其光路来分有两种：一是透射式荧光显微镜，激发光源是通过聚光镜穿过标本材料来激发荧光的。二是落射式荧光显微镜，这是近……
                            </p>
                        </a>
                    </div>
                    <!-- E cards -->
                </div>
            </div>
        </div>
</main>
<!-- E mian -->
<!-- E column.html -->

<!-- S column2.html teacher-->

<!-- E column2.html -->


#foreach($article in ${HopeTag.ArticleListSource(183,true,8)})
<tr> #if ($article.Priority == 0)
    <td width="10" valign=top align=left>
        <img src="${HopeTag.InstallDir}skin/cdbm/images/Article_common4.gif" alt="普通

文章" style="margin-left:3px;" />
    </td>
    #else
    <td width="10" valign="top">
        <img src="${HopeTag.InstallDir}skin/cdbm/images/Article_ontop4.gif" alt="置顶文章" />
    </td>
    #end

    <td class="">
        <a class="" href="${HopeTag.GetItemLink(${article.GeneralID})}" title="$article.Title" target="_self">

            ${HopeTag.FormatTitle("$article.Title",30)}</a>
    </td>
</tr>
#end
</table>
<!--文章列表结束-->


<!-- S index-content -->
<!-- main content -->
<main>
    <!--slider-->
    <div class="slide">
        <img src="${HopeTag.InstallDir}Skin/images/769932892bfa5512eb52e1d68ebab6e8.png">
    </div>
    <!--news list-->
    <section id="news">
        <div class="container">
            <header id="news-header" class="news-lists">
                <hgroup>
                    <h1 id="news-lists" class="active">
                        <a href="${HopeTag.GetCategoryLink(183)}">
                            <i class="icon test"></i>
                            教学新闻
                        </a>
                        <span></span>
                    </h1>
                    <h1 id="plan-lists">
                        <a href="${HopeTag.GetCategoryLink(161)}">
                            <i class="icon book"></i>
                            电子教案
                        </a>
                        <span></span>
                    </h1>
                    <h1 id="expriment-lists">
                        <a href="${HopeTag.GetCategoryLink(162)}">
                            <i class="icon flask"></i>
                            开放实验
                        </a>
                        <span></span>
                    </h1>
                </hgroup>
                <!-- search button-->
                <form action="http://ce.sysu.edu.cn/echemi/modernlab/search.aspx" method="post" name="Search" class="css_search_form">
                    <input type="text" name="Keyword" class="search_text">
                    <input type="submit" value="搜索" class="search_button">
                    <input type="hidden" name="IsFuzzy" value="on">
                </form>
            </header>
            <section class="clearfix">
                <section class="news-left">
                    <img src="${HopeTag.InstallDir}Skin/images/e037eb4605b28ae9b6ac688eeeec88c5.png">
                    <span class="description">
                        经世致用，知行合一
                    </span>
                </section>
                <section class="lists news-lists">
                    <ul>
                        #foreach($article in ${HopeTag.ArticleListSource(183,true,8)})
                        <!-- list -->
                        <li class="lists-item">
                            <a href="${HopeTag.GetItemLink(${article.GeneralID})}" title="$article.Title" target="_self">
                                #if ($article.Priority == 0)
                                <i class="icon"></i>
                                #else
                                <i class="icon icon-new"></i>
                                #end
                                <span>$article.Title</span>
                            </a>
                            <time>${HopeTag.FormatDateTime($article.UpdateTime)}</time>
                        </li>
                        #end
                    </ul>
                </section>
                <section class="lists plan-lists">
                    <ul>
                        #foreach($article in ${HopeTag.ArticleListSource(161,true,8)})
                        <!-- list -->
                        <li class="lists-item">
                            <a href="${HopeTag.GetItemLink(${article.GeneralID})}" title="$article.Title" target="_self">
                                #if ($article.Priority == 0)
                                <i class="icon"></i>
                                #else
                                <i class="icon icon-new"></i>
                                #end
                                <span>$article.Title</span>
                            </a>
                            <time>${HopeTag.FormatDateTime($article.UpdateTime)}</time>
                        </li>
                        #end
                    </ul>
                </section>
                <section class="lists expriment-lists">
                    <ul>
                        #foreach($article in ${HopeTag.ArticleListSource(162,true,8)})
                        <!-- list -->
                        <li class="lists-item">
                            <a href="${HopeTag.GetItemLink(${article.GeneralID})}" title="$article.Title" target="_self">
                                #if ($article.Priority == 0)
                                <i class="icon"></i>
                                #else
                                <i class="icon icon-new"></i>
                                #end
                                <span>$article.Title</span>
                            </a>
                            <time>${HopeTag.FormatDateTime($article.UpdateTime)}</time>
                        </li>
                        #end
                    </ul>
                </section>
            </section>
        </div>
    </section>



    <!--sources-->
    <div class="sources">
        <div class="container">

            <div class="ti">
                <a href="${HopeTag.GetCategoryLink(441)}">
                    <i class="icon grid"></i>
                    <span>教学资源</span>
                </a>
                <span class="sources-decription">精密仪器，技术领先</span>
            </div>

            <ul class="sources-items">
                <li class="sources-item">
                    <a href="#">
                        <figure>
                            <img src="${HopeTag.InstallDir}Skin/images/2bc97717a7aef3dc54b97d1b9b2c3cca.png">
                        </figure>
                        <div class="sources-decription">电感耦合等离子体质谱仪</div>
                    </a>
                </li>
                <li class="sources-item">
                    <a href="#">
                        <figure>
                            <img src="${HopeTag.InstallDir}Skin/images/1086901e3b9f9f324718e5b61d0198a2.png">
                        </figure>
                        <div class="sources-decription">密闭式智能微波萃取仪</div>
                    </a>
                </li>
                <li class="sources-item">
                    <a href="#">
                        <figure>
                            <img src="${HopeTag.InstallDir}Skin/images/ba4cd308cf924b0ba11d7b326b07c076.png">
                        </figure>
                        <div class="sources-decription">气相色谱仪</div>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <!--icon list-->
    <div class="list">
        <ul>
            <li class="list-item">
                <a href="${HopeTag.GetCategoryLink(158)}">
                    <i class="icon_1 icon"></i>

                    <div class="ti">师资力量</div>
                    <div class="intro">一流团队，诲人不倦</div>
                </a>
            </li>
            <li class="list-item">
                <a href="${HopeTag.GetCategoryLink(150)}">
                    <i class="icon_2 icon"></i>

                    <div class="ti">教学大纲</div>
                    <div class="intro">一流团队，诲人不倦</div>
                </a>
            </li>
            <li class="list-item">
                <a href="${HopeTag.GetCategoryLink(180)}">
                    <i class="icon_3 icon"></i>

                    <div class="ti">教学视频</div>
                    <div class="intro">一流团队，诲人不倦</div>
                </a>
            </li>
            <li class="list-item">
                <a href="${HopeTag.GetCategoryLink(153)}">
                    <i class="icon_4 icon"></i>

                    <div class="ti">教学设备</div>
                    <div class="intro">一流团队，诲人不倦</div>
                </a>
            </li>
            <li class="list-item">
                <a href="${HopeTag.GetCategoryLink(162)}">
                    <i class="icon_5 icon"></i>

                    <div class="ti">开放实验</div>
                    <div class="intro">一流团队，诲人不倦</div>
                </a>
            </li>
            <li class="list-item">
                <a href="${HopeTag.GetCategoryLink(166)}">
                    <i class="icon_6 icon"></i>

                    <div class="ti">教学改革</div>
                    <div class="intro">一流团队，诲人不倦</div>
                </a>
            </li>
        </ul>
    </div>
</main>

<!-- E index-content -->

<!-- S column3 -->
<!DOCTYPE html>
<html>
##################### head ####################
${My_modernlab_head}

<body>
   ########################### header #############################
   ${My_modernlab_header}

  ############################ navigation ##########################
  ${My_modernlab_nav}

  ################################ footer ##################################
  ${My_modernlab_banner}

  ################################ main content ############################
      <!-- S main -->
      <main class="content">
        <div class="achievement container">
            <div class="achiecontainer">
                ################################ location ##################################
                ${My_modernlab_location}
                <div class="article ">
                    <div class="article_left">
                        <!-- S content-->
                        <div class="main_box">
                            <ul class="list_items">
                                #set($cat = ${HopeTag.CurrentCategoryID})
                                #foreach($art in ${HopeTag.ArticlePageSource($cat,false,20)})
                                <li class="list_item">
                                    <span class="list_time">${HopeTag.FormatDateTime($art.UpdateTime)}</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="${HopeTag.GetItemLink($art.GeneralID)}">$art.Title</a>
                                    </div>
                                </li>
                                #end
                            </ul>
                        
                        </div>
                        ${HopeTag.Pager()}
                    </div>
                        ############################ sidebar ##########################
                        ${My_modernlab_sidebar}

                        <div class="clearfloat"></div>
                    
                </div>
            </div>
    </main>
    <!-- E mian --> 

    ################################ footer ##################################
    ${My_modernlab_footer}
</body>

</html>
<!-- E column3 -->

#if(${HopeTag.ArticlesNum} == 0)
<span class="art-nomore">没有更多文章了</span>
#end

${HopeTag.InputPager()}

<!-- content.html content-->
<!DOCTYPE html>
<html>
##################### head ####################
${My_modernlab_head}

<body>
   ########################### header #############################
   ${My_modernlab_header}

  ############################ navigation ##########################
  ${My_modernlab_nav}

  ################################ banner ##################################
  ${My_modernlab_banner}

  ################################ main content ############################
    <!-- main content -->
    <main class="content">
        <div class="achievement container">
            <div class="achiecontainer">
                ################################ location ##################################
                ${My_modernlab_location}
                <div class="article">
                    <div class="article_left">
                        <div class="article_left_contain">
                            <div class="article_title">
                                ${HopeTag.Article.Title}
                            </div>

                            <div class="article_otherInfo">作者：${HopeTag.GetValue("Author")} 来源：${HopeTag.GetValue("CopyFrom")} 发布时间：${HopeTag.FormatDateTime(${HopeTag.Article.UpdateTime})} 点击数：${HopeTag.Article.Hits}</div>
                            ${HopeTag.GetValue("Content")}
                           
                            <div class="article_copyright">文章录入：${HopeTag.GetValue("Author")}</div>
                            <div class="article_preNext">
                                <ul class="hope_article_preNext">
                                    <li>上一篇文章：
                                            #if(${HopeTag.PreviousArticle.Title} == "")
                                        <a href="${HopeTag.PreviousArticleLink}">没有了</a>
                                        #else
                                        <a href="${HopeTag.PreviousArticleLink}">${HopeTag.PreviousArticle.Title}</a>
                                        #end
                                    </li>
                                    <li>下一篇文章：
                                            #if(${HopeTag.NextArticle.Title} == "")
                                            <a href="${HopeTag.PreviousArticleLink}">没有了</a>
                                        #else
                                        <a href="${HopeTag.NextArticleLink}">${HopeTag.NextArticle.Title}</a>
                                        #end
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    ############################ sidebar ##########################
                    ${My_modernlab_sidebar}

                    <div class="clearfloat"></div>
                </div>
            </div>
        </div>
    </main>

    ################################ footer ##################################
    ${My_modernlab_footer}
</body>

</html>
<!-- search -->
<!DOCTYPE html>
<html>
##################### head ####################
${My_modernlab_head}

<body>
   ########################### header #############################
   ${My_modernlab_header}

  ############################ navigation ##########################
  ${My_modernlab_nav}


  ################################ main content ############################
      <!-- S main -->
      <main class="content">
        <div class="achievement container">
            <div class="achiecontainer">
                ################################ location ##################################
                ${My_modernlab_location}
                <div class="article no-sidebar">
                    <div class="article_left">
                        <!-- S content-->
                        <div class="main_box">
                            <h2 class="search-title">搜索<span>${HopeTag.Keyword}</span>的结果</h2>
                            <ul class="list_items">
                                #set($index = 0)
                                #foreach($art in ${HopeTag.ArticleSearchSource(20)})
                                $index = $index + 1
                                <li class="list_item">
                                    <span class="list_time">${HopeTag.FormatDateTime($art.UpdateTime)}</span>
                                    <div class="item_contentBox">
                                        <a class="item_content" href="${HopeTag.GetItemLink($art.GeneralID)}">$art.Title</a>
                                    </div>
                                </li>
                                #end
#if($index == 0)
<span class="art-nomore">找不到<span>${HopeTag.Keyword}</span>的结果</span>
#end
                            </ul>
                        
                        </div>
                        ${HopeTag.SearchPager()}
                    </div>

                        <div class="clearfloat"></div>
                    
                </div>
            </div>
    </main>
    <!-- E mian --> 

    ################################ footer ##################################
    ${My_modernlab_footer}
</body>

</html>

<!-- map -->
<!DOCTYPE html>
<html>
##################### head ####################
${My_modernlab_head}

<body>
   ########################### header #############################
   ${My_modernlab_header}

  ############################ navigation ##########################
  ${My_modernlab_nav}

  ################################ footer ##################################
  ${My_modernlab_banner}

  ################################ main content ############################
      <!-- S main -->
      <main class="content">
        <div class="achievement container">
            <div class="achiecontainer">
                ################################ location ##################################
                ${My_modernlab_location}
                <div class="article ">
                    <div class="article_left">
                         <!-- S content-->
                         <ul id="map">
                            #foreach($id in [149,158,441,442,165,166,443])
                                #set($cat = ${HopeTag.GetCategory($id)})
                                <li class="first-title">
                                       <a href="${HopeTag.GetCategoryLink($cat.NodeID)}">$cat.name</a>    
                                       #if($id == 441 || $id == 442)     
                                           <ul class="second-title">
                                                #foreach($cat1 in ${HopeTag.CategorySource($cat.NodeID)})
                                                   <li>
                                                       <a href="${HopeTag.GetCategoryLink($cat1.NodeID)}">$cat1.name</a>
                                                   </li>
                                                #end
                                           </ul>
                                        #end
                                   </li>
                            #end
                        </ul>
                    </div>
                        ############################ sidebar ##########################
                        ${My_modernlab_sidebar}

                        <div class="clearfloat"></div>
                    
                </div>
            </div>
    </main>
    <!-- E mian --> 

    ################################ footer ##################################
    ${My_modernlab_footer}
</body>

</html>

@font-face
{
font-family: "font1";
src: url('font1.TTF'),
}