@import 'reset';
@import 'sprites';
// declare variable
//font type
$font: "Microsoft Yahei",
"PingFang SC",
"STHeiti",
Serif;
$font-UI: "Microsoft Yahei UI",
"PingFang SC",
"STHeiti",
Serif;
$font-bold: "Microsoft Yahei-Bold",
"PingFang SC",
"STHeiti",
Serif;
//font color
$font-color: #505050;
$nav-color: #fff;
$footer-color: #000;
$header-color: #4a78a8;
//background color
$nav-bg: #369;
$nav-hover-bg: #365479;
//logo
$pic1-url: url("../images/pic1.png");
$footer-bg: url("../images/footer-bg.png");
// style sheet
body {
    font: $font;
    color: $font-color;
    font-size: 14px;
    background-color: #f8f7fa;
    @media screen and (max-width: 980px) {
        padding-top: 30px;
    }
}

.container {
    max-width: 1200px;
    margin: auto;
}

@media screen and (max-width: 1250px) {
    .container {
        max-width: unset;
        margin: 0 3%;
    }
}

a:hover {
    color: #4A78A8;
}

//header
header {
    background-color: #f8f7fa;
    .container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 120px;
        background: $pic1-url no-repeat right center;
        a {
            display: inline-block;
            margin: (120px - 65px)/2 0;
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }
    }
    @media screen and (max-width: 980px) {
        .container {
            background: none;
            justify-content: center;
            text-align: center;
        }
    }
    @media screen and (max-width: 500px) {
        a {
            width: 100%;
            margin: 0;
            img {
                width: 100%;
            }
        }
    }
}

//nav
nav {
    $items-height: 45px;
    $items-width: (1/7)*100%;
    background-color: $nav-bg;
    &,
    a:hover {
        color: $nav-color;
    }
    font-size: 0;
    border: {
        color: #a0a0a0;
        style: solid none none none;
        width: 1px;
    }
    .nav-items {
        display: inline-block;
        position: relative;
        font-size: 0;
        &:hover> {
            a,
            .drop-down a:hover {
                background-color: $nav-hover-bg;
            }
        }
        a {
            display: inline-block;
            width: 100%;
            font-size: 19px;
            line-height: $items-height;
            text-align: center;
        }
    }
    #nav-item > .nav-items {
        width: (1/7)*100%;
    }
    .drop-down {
        width:100%;
        position: absolute;
        top: $items-height;
        left: 0;
        display: none;
        box-shadow: #2e4767 0 0 7px 0;
        background-color: $nav-bg;
        .nav-items {
            box-shadow: #355276 1px 1px 0 0;
            display: block;
        }
    }
    .nav-bar {
        display: none;

        width:100%;
        height: 30px;

        button {
            float: right;
            display: inline-block;
            @include sprite($nav-list);
            height:100%;
        }
    }
    @media screen and (max-width: 980px) {

        position:absolute;
        top:0;
        width:100%;
        background-color: #f8f7fa;
        border: {
            color: #a0a0a0;
            style: none none solid none;
            width: 1px;
        }
        .container {
            margin:0 ;
        }
        #nav-item {
            display: none;
            color: $font-color;
            .nav-items {
                display:block;
                width:100%;
                margin-right:1em;

            }
        }
        .drop-down {
            display:none;
        }
        .nav-bar {
            display: inline-block;
        }
    }
}
//footer
footer {
    height: 500px;
    background: $footer-bg bottom center no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color: $footer-color;
    section {
        max-width: 600px;
        margin: auto;
        img {
            margin: 61px auto 51px;
        }
        .copyright,
        .footer-links a {
            display: inline-block;
            font-size: 16px;
        }
        .copyright {
            display: block;
        }
        .footer-links {
            li {
                display: inline-block;
                margin: 0 1em;
                margin-bottom: 18px;
            }
        }
    }
    @media screen and (max-width: 1200px) {
        height: auto;
        width: 100%;
        section {
            padding: 20px 0;
            img {
                margin: 20px auto;
            }
        }
    }
    @media screen and (max-width: 980px) {
        height: 250px;
        width: auto;
        section {
            .footer-links {
                display: none;
            }
        }
    }
    @media screen and (max-width: 774px) {
        background-size: cover;
    }
}
.icon {
    vertical-align: middle;
    display: inline-block;
}
#hopePager {
    position: relative;
    text-align: center;
    margin: 10px 0 35px 0;
    .inputPager_des{
        position: absolute;
        left: 0;
    }
    .inputPager_page {
        display: inline-block;
    }
    #pageNum {
        display: none;
    }
    #btnPage {
        display: none;
    }
}