// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow-left';
$arrow-left-x: 0px;
$arrow-left-y: 0px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 200px;
$arrow-left-height: 200px;
$arrow-left-total-width: 500px;
$arrow-left-total-height: 409px;
$arrow-left-image: '../images/icons.png';
$arrow-left: (0px, 0px, 0px, 0px, 200px, 200px, 500px, 409px, '../images/icons.png', 'arrow-left', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 0px;
$arrow-right-y: 200px;
$arrow-right-offset-x: 0px;
$arrow-right-offset-y: -200px;
$arrow-right-width: 200px;
$arrow-right-height: 200px;
$arrow-right-total-width: 500px;
$arrow-right-total-height: 409px;
$arrow-right-image: '../images/icons.png';
$arrow-right: (0px, 200px, 0px, -200px, 200px, 200px, 500px, 409px, '../images/icons.png', 'arrow-right', );
$below-name: 'below';
$below-x: 0px;
$below-y: 400px;
$below-offset-x: 0px;
$below-offset-y: -400px;
$below-width: 150px;
$below-height: 9px;
$below-total-width: 500px;
$below-total-height: 409px;
$below-image: '../images/icons.png';
$below: (0px, 400px, 0px, -400px, 150px, 9px, 500px, 409px, '../images/icons.png', 'below', );
$book-name: 'book';
$book-x: 440px;
$book-y: 200px;
$book-offset-x: -440px;
$book-offset-y: -200px;
$book-width: 27px;
$book-height: 27px;
$book-total-width: 500px;
$book-total-height: 409px;
$book-image: '../images/icons.png';
$book: (440px, 200px, -440px, -200px, 27px, 27px, 500px, 409px, '../images/icons.png', 'book', );
$flask-name: 'flask';
$flask-x: 467px;
$flask-y: 200px;
$flask-offset-x: -467px;
$flask-offset-y: -200px;
$flask-width: 28px;
$flask-height: 26px;
$flask-total-width: 500px;
$flask-total-height: 409px;
$flask-image: '../images/icons.png';
$flask: (467px, 200px, -467px, -200px, 28px, 26px, 500px, 409px, '../images/icons.png', 'flask', );
$grid-name: 'grid';
$grid-x: 422px;
$grid-y: 230px;
$grid-offset-x: -422px;
$grid-offset-y: -230px;
$grid-width: 23px;
$grid-height: 23px;
$grid-total-width: 500px;
$grid-total-height: 409px;
$grid-image: '../images/icons.png';
$grid: (422px, 230px, -422px, -230px, 23px, 23px, 500px, 409px, '../images/icons.png', 'grid', );
$icon-1-name: 'icon_1';
$icon-1-x: 300px;
$icon-1-y: 300px;
$icon-1-offset-x: -300px;
$icon-1-offset-y: -300px;
$icon-1-width: 100px;
$icon-1-height: 100px;
$icon-1-total-width: 500px;
$icon-1-total-height: 409px;
$icon-1-image: '../images/icons.png';
$icon-1: (300px, 300px, -300px, -300px, 100px, 100px, 500px, 409px, '../images/icons.png', 'icon_1', );
$icon-2-name: 'icon_2';
$icon-2-x: 400px;
$icon-2-y: 0px;
$icon-2-offset-x: -400px;
$icon-2-offset-y: 0px;
$icon-2-width: 100px;
$icon-2-height: 100px;
$icon-2-total-width: 500px;
$icon-2-total-height: 409px;
$icon-2-image: '../images/icons.png';
$icon-2: (400px, 0px, -400px, 0px, 100px, 100px, 500px, 409px, '../images/icons.png', 'icon_2', );
$icon-3-name: 'icon_3';
$icon-3-x: 400px;
$icon-3-y: 100px;
$icon-3-offset-x: -400px;
$icon-3-offset-y: -100px;
$icon-3-width: 100px;
$icon-3-height: 100px;
$icon-3-total-width: 500px;
$icon-3-total-height: 409px;
$icon-3-image: '../images/icons.png';
$icon-3: (400px, 100px, -400px, -100px, 100px, 100px, 500px, 409px, '../images/icons.png', 'icon_3', );
$icon-4-name: 'icon_4';
$icon-4-x: 200px;
$icon-4-y: 300px;
$icon-4-offset-x: -200px;
$icon-4-offset-y: -300px;
$icon-4-width: 100px;
$icon-4-height: 100px;
$icon-4-total-width: 500px;
$icon-4-total-height: 409px;
$icon-4-image: '../images/icons.png';
$icon-4: (200px, 300px, -200px, -300px, 100px, 100px, 500px, 409px, '../images/icons.png', 'icon_4', );
$icon-5-name: 'icon_5';
$icon-5-x: 300px;
$icon-5-y: 200px;
$icon-5-offset-x: -300px;
$icon-5-offset-y: -200px;
$icon-5-width: 100px;
$icon-5-height: 100px;
$icon-5-total-width: 500px;
$icon-5-total-height: 409px;
$icon-5-image: '../images/icons.png';
$icon-5: (300px, 200px, -300px, -200px, 100px, 100px, 500px, 409px, '../images/icons.png', 'icon_5', );
$icon-6-name: 'icon_6';
$icon-6-x: 200px;
$icon-6-y: 200px;
$icon-6-offset-x: -200px;
$icon-6-offset-y: -200px;
$icon-6-width: 100px;
$icon-6-height: 100px;
$icon-6-total-width: 500px;
$icon-6-total-height: 409px;
$icon-6-image: '../images/icons.png';
$icon-6: (200px, 200px, -200px, -200px, 100px, 100px, 500px, 409px, '../images/icons.png', 'icon_6', );
$icon-search-name: 'icon_search';
$icon-search-x: 400px;
$icon-search-y: 200px;
$icon-search-offset-x: -400px;
$icon-search-offset-y: -200px;
$icon-search-width: 40px;
$icon-search-height: 30px;
$icon-search-total-width: 500px;
$icon-search-total-height: 409px;
$icon-search-image: '../images/icons.png';
$icon-search: (400px, 200px, -400px, -200px, 40px, 30px, 500px, 409px, '../images/icons.png', 'icon_search', );
$new-name: 'new';
$new-x: 445px;
$new-y: 230px;
$new-offset-x: -445px;
$new-offset-y: -230px;
$new-width: 30px;
$new-height: 10px;
$new-total-width: 500px;
$new-total-height: 409px;
$new-image: '../images/icons.png';
$new: (445px, 230px, -445px, -230px, 30px, 10px, 500px, 409px, '../images/icons.png', 'new', );
$tag-name: 'tag';
$tag-x: 200px;
$tag-y: 0px;
$tag-offset-x: -200px;
$tag-offset-y: 0px;
$tag-width: 200px;
$tag-height: 200px;
$tag-total-width: 500px;
$tag-total-height: 409px;
$tag-image: '../images/icons.png';
$tag: (200px, 0px, -200px, 0px, 200px, 200px, 500px, 409px, '../images/icons.png', 'tag', );
$test-name: 'test';
$test-x: 400px;
$test-y: 230px;
$test-offset-x: -400px;
$test-offset-y: -230px;
$test-width: 22px;
$test-height: 26px;
$test-total-width: 500px;
$test-total-height: 409px;
$test-image: '../images/icons.png';
$test: (400px, 230px, -400px, -230px, 22px, 26px, 500px, 409px, '../images/icons.png', 'test', );
$spritesheet-width: 500px;
$spritesheet-height: 409px;
$spritesheet-image: '../images/icons.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $below, $book, $flask, $grid, $icon-1, $icon-2, $icon-3, $icon-4, $icon-5, $icon-6, $icon-search, $new, $tag, $test, );
$spritesheet: (500px, 409px, '../images/icons.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
