// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$below-name: 'below';
$below-x: 0px;
$below-y: 200px;
$below-offset-x: 0px;
$below-offset-y: -200px;
$below-width: 150px;
$below-height: 9px;
$below-total-width: 300px;
$below-total-height: 252px;
$below-image: '../images/icons.png';
$below: (0px, 200px, 0px, -200px, 150px, 9px, 300px, 252px, '../images/icons.png', 'below', );
$book-name: 'book';
$book-x: 62px;
$book-y: 209px;
$book-offset-x: -62px;
$book-offset-y: -209px;
$book-width: 27px;
$book-height: 27px;
$book-total-width: 300px;
$book-total-height: 252px;
$book-image: '../images/icons.png';
$book: (62px, 209px, -62px, -209px, 27px, 27px, 300px, 252px, '../images/icons.png', 'book', );
$flask-name: 'flask';
$flask-x: 89px;
$flask-y: 209px;
$flask-offset-x: -89px;
$flask-offset-y: -209px;
$flask-width: 28px;
$flask-height: 26px;
$flask-total-width: 300px;
$flask-total-height: 252px;
$flask-image: '../images/icons.png';
$flask: (89px, 209px, -89px, -209px, 28px, 26px, 300px, 252px, '../images/icons.png', 'flask', );
$grid-name: 'grid';
$grid-x: 139px;
$grid-y: 209px;
$grid-offset-x: -139px;
$grid-offset-y: -209px;
$grid-width: 23px;
$grid-height: 23px;
$grid-total-width: 300px;
$grid-total-height: 252px;
$grid-image: '../images/icons.png';
$grid: (139px, 209px, -139px, -209px, 23px, 23px, 300px, 252px, '../images/icons.png', 'grid', );
$icon-1-name: 'icon_1';
$icon-1-x: 100px;
$icon-1-y: 100px;
$icon-1-offset-x: -100px;
$icon-1-offset-y: -100px;
$icon-1-width: 100px;
$icon-1-height: 100px;
$icon-1-total-width: 300px;
$icon-1-total-height: 252px;
$icon-1-image: '../images/icons.png';
$icon-1: (100px, 100px, -100px, -100px, 100px, 100px, 300px, 252px, '../images/icons.png', 'icon_1', );
$icon-2-name: 'icon_2';
$icon-2-x: 200px;
$icon-2-y: 0px;
$icon-2-offset-x: -200px;
$icon-2-offset-y: 0px;
$icon-2-width: 100px;
$icon-2-height: 100px;
$icon-2-total-width: 300px;
$icon-2-total-height: 252px;
$icon-2-image: '../images/icons.png';
$icon-2: (200px, 0px, -200px, 0px, 100px, 100px, 300px, 252px, '../images/icons.png', 'icon_2', );
$icon-3-name: 'icon_3';
$icon-3-x: 200px;
$icon-3-y: 100px;
$icon-3-offset-x: -200px;
$icon-3-offset-y: -100px;
$icon-3-width: 100px;
$icon-3-height: 100px;
$icon-3-total-width: 300px;
$icon-3-total-height: 252px;
$icon-3-image: '../images/icons.png';
$icon-3: (200px, 100px, -200px, -100px, 100px, 100px, 300px, 252px, '../images/icons.png', 'icon_3', );
$icon-4-name: 'icon_4';
$icon-4-x: 0px;
$icon-4-y: 100px;
$icon-4-offset-x: 0px;
$icon-4-offset-y: -100px;
$icon-4-width: 100px;
$icon-4-height: 100px;
$icon-4-total-width: 300px;
$icon-4-total-height: 252px;
$icon-4-image: '../images/icons.png';
$icon-4: (0px, 100px, 0px, -100px, 100px, 100px, 300px, 252px, '../images/icons.png', 'icon_4', );
$icon-5-name: 'icon_5';
$icon-5-x: 0px;
$icon-5-y: 0px;
$icon-5-offset-x: 0px;
$icon-5-offset-y: 0px;
$icon-5-width: 100px;
$icon-5-height: 100px;
$icon-5-total-width: 300px;
$icon-5-total-height: 252px;
$icon-5-image: '../images/icons.png';
$icon-5: (0px, 0px, 0px, 0px, 100px, 100px, 300px, 252px, '../images/icons.png', 'icon_5', );
$icon-6-name: 'icon_6';
$icon-6-x: 100px;
$icon-6-y: 0px;
$icon-6-offset-x: -100px;
$icon-6-offset-y: 0px;
$icon-6-width: 100px;
$icon-6-height: 100px;
$icon-6-total-width: 300px;
$icon-6-total-height: 252px;
$icon-6-image: '../images/icons.png';
$icon-6: (100px, 0px, -100px, 0px, 100px, 100px, 300px, 252px, '../images/icons.png', 'icon_6', );
$icon-search-name: 'icon_search';
$icon-search-x: 162px;
$icon-search-y: 209px;
$icon-search-offset-x: -162px;
$icon-search-offset-y: -209px;
$icon-search-width: 20px;
$icon-search-height: 19px;
$icon-search-total-width: 300px;
$icon-search-total-height: 252px;
$icon-search-image: '../images/icons.png';
$icon-search: (162px, 209px, -162px, -209px, 20px, 19px, 300px, 252px, '../images/icons.png', 'icon_search', );
$location-name: 'location';
$location-x: 0px;
$location-y: 241px;
$location-offset-x: 0px;
$location-offset-y: -241px;
$location-width: 26px;
$location-height: 11px;
$location-total-width: 300px;
$location-total-height: 252px;
$location-image: '../images/icons.png';
$location: (0px, 241px, 0px, -241px, 26px, 11px, 300px, 252px, '../images/icons.png', 'location', );
$nav-list-name: 'nav-list';
$nav-list-x: 0px;
$nav-list-y: 209px;
$nav-list-offset-x: 0px;
$nav-list-offset-y: -209px;
$nav-list-width: 32px;
$nav-list-height: 32px;
$nav-list-total-width: 300px;
$nav-list-total-height: 252px;
$nav-list-image: '../images/icons.png';
$nav-list: (0px, 209px, 0px, -209px, 32px, 32px, 300px, 252px, '../images/icons.png', 'nav-list', );
$new-name: 'new';
$new-x: 182px;
$new-y: 209px;
$new-offset-x: -182px;
$new-offset-y: -209px;
$new-width: 30px;
$new-height: 10px;
$new-total-width: 300px;
$new-total-height: 252px;
$new-image: '../images/icons.png';
$new: (182px, 209px, -182px, -209px, 30px, 10px, 300px, 252px, '../images/icons.png', 'new', );
$sidebar-icon-name: 'sidebar-icon';
$sidebar-icon-x: 32px;
$sidebar-icon-y: 209px;
$sidebar-icon-offset-x: -32px;
$sidebar-icon-offset-y: -209px;
$sidebar-icon-width: 30px;
$sidebar-icon-height: 30px;
$sidebar-icon-total-width: 300px;
$sidebar-icon-total-height: 252px;
$sidebar-icon-image: '../images/icons.png';
$sidebar-icon: (32px, 209px, -32px, -209px, 30px, 30px, 300px, 252px, '../images/icons.png', 'sidebar-icon', );
$test-name: 'test';
$test-x: 117px;
$test-y: 209px;
$test-offset-x: -117px;
$test-offset-y: -209px;
$test-width: 22px;
$test-height: 26px;
$test-total-width: 300px;
$test-total-height: 252px;
$test-image: '../images/icons.png';
$test: (117px, 209px, -117px, -209px, 22px, 26px, 300px, 252px, '../images/icons.png', 'test', );
$spritesheet-width: 300px;
$spritesheet-height: 252px;
$spritesheet-image: '../images/icons.png';
$spritesheet-sprites: ($below, $book, $flask, $grid, $icon-1, $icon-2, $icon-3, $icon-4, $icon-5, $icon-6, $icon-search, $location, $nav-list, $new, $sidebar-icon, $test, );
$spritesheet: (300px, 252px, '../images/icons.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
