// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow-left';
$arrow-left-x: 0px;
$arrow-left-y: 0px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 200px;
$arrow-left-height: 200px;
$arrow-left-total-width: 400px;
$arrow-left-total-height: 400px;
$arrow-left-image: '../images/icons.png';
$arrow-left: (0px, 0px, 0px, 0px, 200px, 200px, 400px, 400px, '../images/icons.png', 'arrow-left', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 200px;
$arrow-right-y: 0px;
$arrow-right-offset-x: -200px;
$arrow-right-offset-y: 0px;
$arrow-right-width: 200px;
$arrow-right-height: 200px;
$arrow-right-total-width: 400px;
$arrow-right-total-height: 400px;
$arrow-right-image: '../images/icons.png';
$arrow-right: (200px, 0px, -200px, 0px, 200px, 200px, 400px, 400px, '../images/icons.png', 'arrow-right', );
$tag-name: 'tag';
$tag-x: 0px;
$tag-y: 200px;
$tag-offset-x: 0px;
$tag-offset-y: -200px;
$tag-width: 200px;
$tag-height: 200px;
$tag-total-width: 400px;
$tag-total-height: 400px;
$tag-image: '../images/icons.png';
$tag: (0px, 200px, 0px, -200px, 200px, 200px, 400px, 400px, '../images/icons.png', 'tag', );
$spritesheet-width: 400px;
$spritesheet-height: 400px;
$spritesheet-image: '../images/icons.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $tag, );
$spritesheet: (400px, 400px, '../images/icons.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
